<a href="/">Home</a>
<a href="/about/">About</a>
<body>
    <h1>Amador L&oacute;pez Parra - pagina personal</h1>
    <h1>Acerca de m&iacute;</h1>
    <h2>&aacute;un estoy de pruebas!</h2>
  
    <p>Vayamos poco a poco!</p>
  
    <p>Tengan paciencia!</p>
</body>