---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio">
  <h1 class="inline-block w-full overflow-hidden border-r-2 border-chalk fade-in">¡Bienvenido a mi pequeño espacio!</h1>
  <p>A&uacute;n no tengo muy claro que vas a poder encontrar aqu&iacute;, pero ten por seguro que siempre ser&aacute; contenido creado con la mejor de las intenciones.</p>

  <img src="/img/index/index.png" alt="Imagen principal" class="my-4 mx-auto rounded-lg shadow-lg">

  <h2>Secciones principales:</h2>
  <ul class="list-disc pl-5">
    <li><a href="./content/acerca" class="text-blue-500 hover:text-blue-700 underline">Acerca de mí</a>: Conoce más sobre mi experiencia y proyectos.</li>
    <li><a href="./content/blog" class="text-blue-500 hover:text-blue-700 underline">Blog</a>: Lee artículos y tutoriales didácticos.</li>
  </ul>

  <p>¡Espero que disfrutes tu visita! 🌟</p>
</Layout>