<footer class="bg-gray-800 text-white p-4 text-center flex-shrink-0 text-lg slid-in">
  <p>&copy; 2025 Blog personal y de Programación. Todos los derechos reservados.</p>
  <nav class="mt-2">
    <a href="/legal/politica-de-cookies" class="text-blue-500 underline mx-2">Política de Cookies</a>
    <a href="/legal/politica-de-privacidad" class="text-blue-500 underline mx-2">Política de Privacidad</a>
    <a href="/legal/aviso-legal" class="text-blue-500 underline mx-2">Aviso Legal</a>
  </nav>
</footer>